
/*		Default Layout: 1170px.   */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
}

/*	Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {


.main-menu .navbar-dark .navbar-nav .nav-link { 
    font-size: 15px;
}



}


/*	Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {


   .slider-text h3 {
    font-size: 1rem;
	}
	
}

/*		Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
 

 .slider-text h3 {
    font-size: 24px;
	}
}
